@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  @apply bg-slate-100;
  @apply text-slate-800;
  /* background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb)); */
}
